<!DOCTYPE html>
<html>

<head>
    <title>main</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">GST calculator</h1>
            <p class="lead text-muted">Please select the type of product from the below list of items.</p>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./images/shirt.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Calculate GST for Clothing.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <a href="./clothes">Go</a>
                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class=" card-img-top" src="./images/food.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Calculate GST for Food items.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <a href="./food">Go</a>
                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" data-src="./images/chip.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Calculate GST for Electronic items.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <a href="./electronics">Go</a>
                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>